:root {
    --color-blue: #3597ff;
}

/* General */
html {
    font-size: 100%;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 0.75rem;
} 

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
}

figure {
    margin: 0;
}

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Header */
header .small-container {
    margin: 0.4rem;
}

header .discord-group {
    background-color: rgba(152, 156, 162, 0.15);
    border-radius: 5rem;
}

header nav {    
    border-top: 1px solid var(--color-blue);
}

nav ul a:hover {
    color: var(--color-blue);
}

nav.header-nav li {
    margin: auto 0.4rem;
    margin-top: 0.2rem;
    padding: 0.4rem 0.2rem;
}

nav .custom-button {
    background-color: var(--color-blue);
    color: white;
    padding: 0.95rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
}

header .home-container {
    background-color: var(--color-blue);
    color: white;
    justify-content: space-evenly;
}

article .home-article {
    margin: 0;
    max-width: 25rem;
}

article .home-picture {
    max-height: 25rem;
}

/* Main */
/*first section*/
section article.why-openlab{
    text-align: center;
}

main section article.some-reasons {
    background-color: orange;
}