:root {
    /*how color*/
    --color-blue: #3597ff; 
    --grey-blue:#566b8d;

    /*how big*/
    --top-bottom: 12px;
}

/* General */
html {
    font-size: 100%;
}

body {
    font-family: 'SF Pro Display', sans-serif;   
    letter-spacing: 1px;                              
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
}

h2 {
    font-size: 2.4rem;
    font-weight: 300;
} 

h4 {
    font-size: 1.25rem;
    margin: 0;
}

strong {
    font-weight: 700;
}

p {
    font-size: 1rem;
    color: var(--grey-blue);
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #000000;
    padding: 15px 18px;
}

ul {
    list-style: none;
}

li {
    font-size: 14px;
}

.container {
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.insidespace {
    margin-top: 5rem;
}

/* Header */
/* Small header */
header .small-head {
    font-size: 13px;
    color: #212529;

    gap: 50px;  
    padding: 9.5px;
    border-bottom: 1px solid #d7eaff;
}

header .small-head .discord-group a {
    font-size: 12px;
    color: #989ca2;
    background-color: rgba(152, 156, 162, 0.15);
    
    padding: 6px 10px;
    border: 1px solid rgba(152, 156, 162, 0.15);
    border-radius: 5rem;
}

header .small-head .discord-group a:hover,
header .small-head .discord-group a:active {
    color: #000000;
}

header .small-head .discord-group a img {
    margin-left: 5px;
}

/* Navigation */
nav img.logo {
    vertical-align: middle;
}
header nav {
    margin-top: var(--top-bottom);
    margin-bottom: var(--top-bottom);
}
nav ul a:hover,
nav ul a:active {
    color: var(--color-blue);
}

nav .btn {
    font-family: inherit;
    letter-spacing: inherit;
    font-size: 14px;

    background-color: var(--color-blue);
    color: white;

    padding: 15px 20px;
    border: none;
    border-radius: 0.5rem;
    margin-left: 280px;
}

/* blue intro header */
header .home {
    background-color: var(--color-blue);
    color: #ffffff;
}

header div article div.blueintro {
    max-width: 520px;

    color: white;
}

header div article div.imgLaptop {
    position: relative;
    bottom: -4.8px;

    z-index: 1;
}

header div article div .peopleLaptop {
    max-height: 470.25px;
}

header div article div.imgLetter {
    position: absolute;
    width: 241px;
    overflow: hidden;
    z-index: 0;

    right: 0;
    bottom: 170px;
}

header div article div .letterO {
    max-height: 482px;
}

/* Main */
/*first section*/
section article.why{
    text-align: center;
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;
}

section article.reasons {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

section article.reasons div p {
    font-size: 0.875rem;
}

section article.reasons div p {
    margin-right: 20px;
}

/*second section*/
section.openlab-grid {
    justify-content: space-evenly;
}

section article.vision {
    max-width: 40rem;
}

section article.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    font-size: 4rem;
    font-weight: 600;
}

article.numbers .classes {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
}

article.numbers .student {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}

article.numbers .labmaster {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
}
article.numbers .school {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}

article.numbers div.colorcontent {
    text-align: end;
    margin: 0;
    padding: 30px 45px;
    border-radius: 5px;
}
/*third sesction*/
section div article figure img.schoolpicture{
    max-width: 30rem;
}