:root {
    --color-blue: #3597ff;
}

/* General */
html {
    font-size: 100%;
}

body {
    font-family: 'SF Pro Display', sans-serif;                                   
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

h2 {
    font-size: 1.2rem;
} 

p {
    font-size: 1.08rem;
    color: #566b8d;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    font-weight: 500;
}

figure {
    margin: 0;
}

.display-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1320px;
}

/* Header */
header .small-head {
    margin: 0.4rem auto;
    font-size: 0.85rem;
    gap: 50px;
}

header .discord-group {
    background-color: rgba(152, 156, 162, 0.15);
    border-radius: 5rem;
}

header nav {    
    border-top: 1px solid var(--color-blue);
    margin: auto;
}

nav ul a:hover, a:active {
    color: var(--color-blue);
}

nav.header-nav li {
    margin: auto 0.4rem;
    margin-top: 0.2rem;
    padding: 0.4rem 0.2rem;
}

nav .custom-button {
    background-color: var(--color-blue);
    color: white;
    padding: 0.95rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-left: auto;
}

header .home-container {
    background-color: var(--color-blue);
    color: white;
    justify-content: space-evenly;
}

article .home-article {
    margin: 0;
    max-width: 25rem;
}

article .home-article p {
    color: white;
}

article .home-picture {
    max-height: 25rem;
}

/* Main */
/*first section*/
section.openlab-container {
    margin: auto;
}

section article.why{
    text-align: center;
}

section article.reasons {
    justify-content: space-around;
}

section.openlab-grid {
    margin: auto;
    justify-content: space-evenly;
}

section article.vision {
    max-width: 40rem;
}

section article.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    font-size: 5rem;
    font-weight: 600;
}

article.numbers .classes {
    color: #5b94d7;
    background-color: rgba(221, 236, 251, 0.4);
    padding: 1rem 5rem;
}

article.numbers .student {
    color: #5cc19a;
    background-color: rgba(156, 238, 204, 0.4);
}

article.numbers .labmaster {
    color: #dbca68;
    background-color: rgba(238, 226, 156, 0.4);
}
article.numbers .school {
    color: #b95e73;
    background-color: rgba(238, 156, 156, 0.4);
}
